{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Blockbusted{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/MovieList.css' %}">
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'css/App.css' %}">
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
